[submodule "examples/claude-official-skills"]
	path = examples/claude-official-skills
	url = https://github.com/anthropics/skills.git
[submodule "examples/finskills"]
	path = examples/finskills
	url = https://github.com/Geeksfino/finskills.git
